{% extends "base.html" %}
{% block content %}


<div class="lesson-details">
    <div class="container flex">
        <h1>Credit Account</h1>
        <p>Enter the credit/payment amount:</p>

        <form action="/noks/{{ nok.id }}/credit" method="post">
            <div class="form card card-left card-w">
                <div>
                    <label for="payment">Payment:</label>
                    <input type="number" id="payment" name="payment" placeholder="amount" required>
                </div>  
            </div>

            <button class="yellow-link" type="submit">Record payment</button>

        </form>
    </div>
</div>

{% endblock %}