{% extends "base.html" %}
{% block content %}

<div class="noks my-2">

    <div class="container flex"> 
        <h1>Current Next of Kin</h1>
        <div>
            <ul class="menu">
                <li><a href="/noks/new">Add new Next 0f Kin</a></li>
            </ul>
        </div>
    </div>

    <div class ="container my-2">

        <table style="width:100%">
            <tr>
                <th class="th-1" style="width:20%">Name</th>
                <th style="width:20%">Contact Number</th>
                <th style="width:40%">Address</th>
                <th style="width:20%">Postcode</th>
            </tr>

            {% for nok in all_noks %}
                <tr>
                    <td class="td-1"><a href="/noks/{{ nok.id }}">{{ nok.name }}</a></td>
                    <td>{{ nok.contact_number }}</td>
                    <td>{{ nok.address }}</td>
                    <td>{{ nok.postcode }}</td>
                </tr>
            {% endfor %}
        </table>

        <div class="my-2">
            <a class="archive" href="">View next of kin archive</a>
        </div>

    </div>

</div>
{% endblock %}