{% extends "base.html" %}
{% block content %}

<h2>Next of Kin Details</h2>
<p>Enter the pupil's Next of Kin details below:</p>
<form action="/noks" method="post">

    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Name" required>
    </div>

    <div>
        <label for="contact_number">Contact Number:</label>
        <input type="text" id="contacct_number" name="contact_number" placeholder="Contact Number" required>
    </div>

    <div>
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" placeholder="Address" required>
    </div>

    <div>
        <label for="postcode">Postcode:</label>
        <input type="text" id="postcode" name="postcode" placeholder="Postcode" required>
    </div>

    <button type="submit">Save</button>

</form>


{% endblock %}