{% extends "base.html" %}
{% block content %}

    <div>
        <p>Name: {{ nok.name }}</p>
        <hr>
        <p>Contact number: {{ nok.contact_number }}</p>
        <p>Address: {{ nok.address }}</p>
        <p>Postcode: {{ nok.postcode }}</p>
        <p>Account balance: £{{ nok.account }}</p>

        <div class="my-2">
            <a href="/noks/{{ nok.id }}/credit">Credit Account</a>
        </div>

        <form action="/noks/{{ nok.id }}/edit">
            <button>Edit</button>
        </form>
        <form action="/noks/{{ nok.id }}/delete" method="POST">
            <button>Delete Next of Kin</button>
        </form>
    </div>


{% endblock %}