/* HEADER */
.navbar {
    background-color: var(--primary-dark);
    color: var(--white);
    height: 100px;
    margin-bottom: 40px;
}

.logo {
    text-align: center;
    margin: 10px 0;
    padding: 10px;
}

.logo a:hover {
    border-bottom: 2px var(--primary-bright) solid;
    color: var(--primary-bright);
}

.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: var(--white);
}

.navbar .menu a {
    padding: 10ox;
    margin: 0 15px;
}

.navbar a:hover {
    border-bottom: 2px var(--primary-bright) solid;
    color: var(--primary-bright);
}

.navbar .flex {
    justify-content: space-around;
}




/* FOOTER */
.footer {
    background-color: var(--primary-dark);
    color: var(--white);
    height: 160px;
    margin-top: 40px;
}

.footer a:hover {
    border-bottom: 2px var(--primary-bright) solid;
    color: var(--primary-bright);
}

.footer ul {
    display: flex;
    list-style-type: none;
    padding: 10px;
}

.footer a {
    text-decoration: none;
    color: var(--white);
}

.footer .menu a {
    padding: 10ox;
    margin: 0 15px;
}

.footer .social a {
    margin: 0 10px;
}
