/* HEADER */
.navbar {
    background-color: var(--white);
    color: var(--primary-dark);
    height: 120px;
    /* border-bottom: 0.5px #e6e6e6 solid; */
}

.logo {
    text-align: center;
    margin: 0px 0;
    padding: 0px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 10px;
    font-size: 22px;
}

.navbar a {
    text-decoration: none;
    color: var(--primary-dark); 
}

.navbar .menu a {
    padding: 0px;
    margin: 0 15px;
}

.navbar .menu a:hover {
    border-bottom: 2px var(--primary-bright) solid;
    color: var(--primary-bright);
}

.navbar .flex {
    justify-content: space-between;
}




/* FOOTER */
.footer {
    background-color: var(--primary-dark);
    color: var(--white);
    height: 130px;
    margin-top: 60px;
}

.footer a:hover {
    border-bottom: 2px var(--primary-bright) solid;
    color: var(--primary-bright);
}

.footer ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 10px;
}

.footer a {
    text-decoration: none;
    color: var(--white);
}

.footer .menu a {
    padding: 10ox;
    margin: 0 15px;
}

.footer .social a {
    margin: 0 10px;
}



