/* bocks */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;  
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    background-color: #fff;
    color: var(--primary-dark);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
}

.card-listing {
    background-color: #fff;
    color: var(--primary-dark);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    padding: 20px;
    margin: 10px 0;
    width: 30%;
}





.welcome .container {
    padding: 0 20px;
    text-align: center;
}

.welcome .flex {
    gap: 20px;
}

.lessons .container {
    width: 90%;
}

.lessons .flex {
    justify-content: space-between;
}

.lesson-details .container {
    width: 90%;
}

.lesson-details .flex {
    justify-content: space-between;
    gap: 20%;
}

.pupils .container {
    width: 90%;
}

.pupils .flex {
    justify-content: space-between;
}

.tutors .container {
    width: 90%;
}

.tutors .flex {
    justify-content: space-between;
}








