/* bocks */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
}

.container-min {
    min-height: 250px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;  
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.card {
    background-color: #fff;
    color: var(--primary-dark);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
}

.card-left {
    text-align: left;
}

.card-w {
    min-width: 370px;
    padding: 30px 40px;
}




/* FORMS */
input, select {
    margin-bottom: 20px;
    size: 100px;
}

.form input {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

input::placeholder {
    color: #cccccc;
    font-family: "Quicksand", sans-serif, Helvetica, Arial;
    font-size: 14px;
}



