/* lessons.html */

.lessons .container {
    width: 90%;
}

.lessons .flex {
    justify-content: space-between;
}



.lessons ul {
    display: flex;
    list-style-type: none;
    padding: 10px;
    font-size: 18px;
}

.lessons a {
    text-decoration: none;
    color: var(--primary-dark); 
    border-bottom: 2px var(--secondary-pale) solid;
}

.lessons .menu a {
    padding: 10ox;
    margin: 0 15px;
    border-bottom: 2px var(--secondary-bright) solid;
}

.lessons a:hover {
    border-bottom: 2px var(--primary-bright) solid;
    color: var(--primary-bright);
}

.lessons .flex {
    justify-content: space-between;
}

.lessons .book {
    border-bottom: 2px var(--primary-bright) solid;
}

.lessons .log {
    border-bottom: 2px var(--secondary-bright) solid; 
}

.lessons .archive {
    border-bottom: 2px var(--secondary-bright) solid; 
}



.lesson-details .container {
    width: 90%;
    text-align: center;
}

.lesson-details .flex {
    justify-content: space-between;
    gap: 20%;
}