/* pupils html files */

.pupils, 
.pupil-details, 
.pupil-lesson-archive {
    margin-top: 150px;
}
.pupils .container {
    width: 90%;
}

.pupils .flex {
    justify-content: space-between;
}

.pupils ul {
    display: flex;
    list-style-type: none;
    padding: 10px;
    font-size: 16px;
}

.pupils a {
    text-decoration: none;
    color: var(--primary-dark); 
    border-bottom: 2px var(--secondary-pale) solid;
}

.pupils .menu a {
    padding: 5px;
    margin: 0 0 0 15px;
    border-bottom: 2px var(--secondary-bright) solid;
}

.pupils a:hover {
    border-bottom: 2px var(--primary-bright) solid;
    color: var(--primary-bright);
}

.pupils .flex {
    justify-content: space-between;
}

.pupils .log {
    border-bottom: 2px var(--secondary-bright) solid; 
}

.pupils .archive {
    border-bottom: 2px var(--secondary-bright) solid; 
}



/* pupils/show pages */

.pupil-details .container, 
.pupil-lesson-archive .container {
    width: 90%;
    text-align: center;
    justify-content: center;
}

.pupil-lesson-archive .container-2 {
    min-height: 250px;
}

.pupil-details .flex, 
.pupil-lesson-archive .flex {
    flex-wrap: wrap;
    flex-direction: column;
}

.pupil-details .card-listing, 
.pupil-lesson-archive .card-listing {
    align-items: center;
}

.card-listing {
    background-color: #fff;
    color: var(--primary-dark);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    padding: 10px;
    margin: 20px 0;
    width: 300px;
}

.att-rate {
    border: none;
    background-color: transparent;
    font-family: "Gloria Hallelujah", sans-serif, Helvetica, Arial;
    font-size: 25px;
    font-weight: 1000;
    color: var(--primary-bright);
}

.pupil-details ul, 
.pupil-lesson-archive ul {
    display: flex;
    list-style-type: none;
    padding: 10px;
    font-size: 18px;
    gap: 25px;
}

.pupil-details a, 
.pupil-lesson-archive a {
    text-decoration: none;
    color: var(--primary-dark); 
    border-bottom: 2px var(--secondary-pale) solid;
}

.pupil-details .menu a,
.pupil-lesson-archive .menu a {
    padding: 0px;
    margin: 0 15px;
    border-bottom: 2px var(--secondary-bright) solid;
}

.pupil-details a:hover, 
.pupil-lesson-archive a:hover {
    border-bottom: 2px var(--primary-bright) solid;
    color: var(--primary-bright);
}

.pupil-delete {
    border: none;
    background-color: transparent;
    border-bottom: 2px var(--secondary-bright) solid; 
    font-size: 18px;
    font-family: "Quicksand", sans-serif, Helvetica, Arial;
    margin-left: 10px;
}

.pupil-delete:hover {
    border-bottom: 2px var(--primary-bright) solid;
    color: var(--primary-bright);
    cursor: pointer;
}