@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/* sets color palette for use across site */
:root { 
    --primary-dark: #1A2238;
    --primary-bright: #FF6A3D;
    --secondary-bright: #F4DB7D;
    --secondary-pale: #9DAAF2;
    --white: #fff;
}

/* reset of page formatting - best practice */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* setting general style for content */
body {
    font-family: "Quicksand", sans-serif, Helvetica, Arial;
    color: var(--primary-dark);
    line-height: 1.6;
}

h1 {
    font-weight: 500;
    line-height: 1.2;
    margin: 10px, 0;
    font-family: "Gloria Hallelujah", sans-serif, Helvetica, Arial;
}

h1 {
    color: var(--primary-bright);
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    margin: 10px 0;
}

.full {
    font-family: "Gloria Hallelujah", sans-serif, Helvetica, Arial;
    font-size: 18px;
    color: var(--primary-bright);
}

.full-2 {
    font-family: "Quicksand", sans-serif, Helvetica, Arial;
    font-size: 20px;
    font-weight: 1000;
    color: var(--primary-bright);
}

img {
    width: 100%;
    border-radius: 10px;
}



/* BUTTONS */

.btn-orange {
    background-color: var(--primary-bright);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    color: var(--white);
    font-family: "Quicksand", sans-serif, Helvetica, Arial;
    font-size: 16px;
    font-weight: 900;
    padding: 15px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
}

.btn-yellow {
    background-color: var(--secondary-bright);
    color: var(--primary-dark);
    font-family: "Quicksand", sans-serif, Helvetica, Arial;
    font-size: 16px;
    font-weight: 900;
    padding: 10px 30px;
    border: none;
    border-radius: 10%;
}

.btn-orange:hover {
    transform: scale(1.05);
}





.attended-btn {
    border: none;
    background-color: transparent;
}


/* MARGINS */
.my-2 {
    margin: 20px auto;
}

.my-4 {
    margin: 40px auto;
}

