/* tutors html files */

.tutors,
.tutor-details,
.tutor-lesson-archive {
    margin-top: 150px;
}

.tutors .container {
    width: 90%;
}

.tutors .flex {
    justify-content: space-between;
}


.tutors ul {
    display: flex;
    list-style-type: none;
    padding: 10px;
    font-size: 16px;
}

.tutors a {
    text-decoration: none;
    color: var(--primary-dark); 
    border-bottom: 2px var(--secondary-pale) solid;
}

.tutors .menu a {
    padding: 5px;
    margin: 0 0 0 10px;
    border-bottom: 2px var(--secondary-bright) solid;
}

.tutors a:hover {
    border-bottom: 2px var(--primary-bright) solid;
    color: var(--primary-bright);
}

.tutors .flex {
    justify-content: space-between;
}

.tutors .archive {
    border-bottom: 2px var(--secondary-bright) solid; 
}



/* tutors/show pages */
.tutor-details .container,
.tutor-lesson-archive .container {
    width: 90%;
    text-align: center;
    justify-content: center;
}

.tutor-lesson-archive .container-2 {
    min-height: 250px;
}

.tutor-details .flex,
.tutor-lesson-archive .flex {
    flex-wrap: wrap;
    flex-direction: column;
}

.tutor-details .card-listing,
.tutor-lesson-archive .card-listing {
    align-items: center;
}

.card-listing {
    background-color: #fff;
    color: var(--primary-dark);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    padding: 10px;
    margin: 20px 0;
    width: 30%;
}

.tutor-details ul,
.tutor-lesson-archive ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 10px;
    font-size: 18px;
    gap: 25px;
}

.tutor-details a,
.tutor-lesson-archive a {
    text-decoration: none;
    color: var(--primary-dark); 
    border-bottom: 2px var(--secondary-pale) solid;
}

.tutor-details .menu a,
.tutor-lesson-archive .menu a {
    padding: 0px;
    margin: 0 15px;
    border-bottom: 2px var(--secondary-bright) solid;
}

.tutor-details a:hover,
.tutor-lesson-archive a:hover {
    border-bottom: 2px var(--primary-bright) solid;
    color: var(--primary-bright);
}

.tutor-details .log,
.tutor-lesson-archive .log {
    border-bottom: 2px var(--secondary-bright) solid; 
}