/* tutors html files */

.tutors {
    margin-top: 150px;
}

.tutors .container {
    width: 90%;
}

.tutors .flex {
    justify-content: space-between;
}


.tutors ul {
    display: flex;
    list-style-type: none;
    padding: 10px;
    font-size: 18px;
}

.tutors a {
    text-decoration: none;
    color: var(--primary-dark); 
    border-bottom: 2px var(--secondary-pale) solid;
}

.tutors .menu a {
    padding: 10ox;
    margin: 0 15px;
    border-bottom: 2px var(--secondary-bright) solid;
}

.tutors a:hover {
    border-bottom: 2px var(--primary-bright) solid;
    color: var(--primary-bright);
}

.tutors .flex {
    justify-content: space-between;
}

.tutors .archive {
    border-bottom: 2px var(--secondary-bright) solid; 
}
