{% extends "base.html" %}
{% block content %}

<div class="lessons my-4">

    <div class="container flex"> 
        <h2>All Lessons</h2>

        <form action="/lessons">
            <button>Back</button>
        </form>
    </div>

    <div class ="container my-2">

        <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>Date & Time</th>
                <th>Instrument(s)</th>
                <th>Tutor</th>
                <th>Group?</th>
                <th>Book</th>
                <th>Log Attendance</th>    
            </tr>

            {% for lesson in all_lessons %}
                {% if lesson.todays_date() > lesson.date %}
                    <tr>
                        <td><a href="/lessons/{{ lesson.id }}">{{ lesson.name }}</a></td>
                        <td>{{ lesson.date }} at {{ lesson.time }}</td>
                        <td>{{ lesson.instrument }}</td>
                        <td>{{ lesson.tutor.name }}</td>
                        <td>
                        {% if lesson.group_status == True %} <p>Yes</p>
                        {% else %} <p>No</p>
                        {% endif %}
                        </td>
                        <td>
                            {% if lesson.count_free_spaces() == 0 %}
                                <p class="full">FULL</p>
                            {% else %}
                                <form action="/lessons/{{ lesson.id }}">
                                    <button>Book</button>
                                </form>
                            {% endif %}
                        </td>
                        <td>
                            <form action="lessons/{{ lesson.id }}">
                                <button>Log Attendance</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            
        </table>
    </div>
</div>
{% endblock %}