{% extends "base.html" %}
{% block content %}

<div class="lessons">
    <div class="container flex"> 

        <h1>All Lessons</h1>

        <form action="/lessons/new">
            <button>Add lesson</button>
        </form>
    </div>
    <div class ="container my-2">

        <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>Date & Time</th>
                <th>Instrument(s)</th>
                <th>Tutor</th>
                <th>Group?</th>
                <th>Spaces</th>
                <th>Book</th>
                <th>Log Attendance</th>    
            </tr>

            {% for lesson in all_lessons %}
                <tr>
                    <td><a href="/lessons/{{ lesson.id }}">{{ lesson.name }}</a></td>
                    <td>{{ lesson.date }} at {{ lesson.time }}</td>
                    <td>{{ lesson.instrument }}</td>
                    <td>{{ lesson.tutor.name }}</td>
                    <td>
                    {% if lesson.group_status == True %} <p>Yes</p>
                    {% else %} <p>No</p>
                    {% endif %}
                    </td>
                    <td></td>
                    <td>
                        <form action="/attendances/new">
                            <button>Book</button>
                        </form>
                    </td>
                    <td>
                        <form action="lessons/{{ lesson.id }}"">
                            <button>Log Attendance</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>
</div>
{% endblock %}