{% extends "base.html" %}
{% block content %}

<div class="lessons">
    <div class="container flex"> 

        <h1>Upcoming Lessons</h1>

        <form action="/lessons/spaces">
            <button>View lessons with spaces</button>
        </form>
        <form action="/lessons/new">
            <button>Create new lesson</button>
        </form>

    </div>
    <div class ="container my-2">

        <table style="width:100%">
            <tr>
                <th class="th-1" style="width:20%">Name</th>
                <th style="width:18%">Date & Time</th>
                <th style="width:10%">Instrument(s)</th>
                <th style="width:20%">Tutor</th>
                <th style="width:8%">Group?</th>
                <th style="width:9%">Book</th>
                <th style="width:15%">Log Attendance</th>    
            </tr>

            {% for lesson in all_lessons %}
                {% if lesson.todays_date() <= lesson.date %}
                    <tr>
                        <td class="td-1"><a href="/lessons/{{ lesson.id }}">{{ lesson.name }}</a></td>
                        <td>{{ lesson.date }} @ {{ lesson.time }}</td>
                        <td>{{ lesson.instrument }}</td>
                        <td>{{ lesson.tutor.name }}</td>
                        <td>
                        {% if lesson.group_status == True %} <p>Yes</p>
                        {% else %} <p>No</p>
                        {% endif %}
                        </td>
                        <td>
                            {% if lesson.count_free_spaces() == 0 %}
                                <p class="full">FULL</p>
                            {% else %}
                                <form action="/lessons/{{ lesson.id }}">
                                    <button>Book</button>
                                </form>
                            {% endif %}
                        </td>
                        <td>
                            <form action="lessons/{{ lesson.id }}">
                                <button>Log</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

        <form action="/lessons/archive">
            <button>View lesson archive</button>
        </form>

    </div>
</div>
{% endblock %}