{% extends "base.html" %}
{% block content %}

    <div>
        <h3>Lesson Details</h3>
        <p>{{ lesson.name }}</p>
        <p>Date: {{ lesson.date }}</p>
        <p>Instrument: {{ lesson.instrument }}</p>
        <p>Tutor: {{ lesson.tutor.name }}</p>
        <p>Group?
            {% if lesson.group_status == True %} <span>Yes</span>
            {% else %} <span>No</span>
            {% endif %}
        </p>
    </div>

    <div>
        <h3>Scheduled Attendees</h3>
        <table>
            <tr>
                <td>Pupil</td>
                <td>Attended?</td>
            </tr>
            {% for attendance in attendances %}
                <tr>
                    <td><a href="/pupils/{{ attendance.pupil.id }}">{{ attendance.pupil.name }}</a></td>
                    <td><a href="/attendances/{{ attendance.id }}/edit">{{ attendance.attended }}</td>
                    <td>
                        <button type="submit">Log attendance</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div>
        <form action="/lessons/{{ lesson.id }}/edit">
            <button>Edit</button>
        </form>

        <form action="/lessons/{{ lesson.id }}/delete" method="POST">
            <button>Delete Lesson</button>
        </form>
    </div>


{% endblock %}