{% extends "base.html" %}
{% block content %}

    <div>
        <h3>Lesson Details</h3>
        <p>{{ lesson.name }}</p>
        <p>Date: {{ lesson.date }}</p>
        <p>Time: {{ lesson.time }}</p>
        <p>Instrument: {{ lesson.instrument }}</p>
        <p>Tutor: {{ lesson.tutor.name }}</p>
        <p>Group?
            {% if lesson.group_status == True %} <span>Yes</span>
            {% else %} <span>No</span>
            {% endif %}
        </p>
        <p>Tutor: {{ lesson.max_capacity }}</p>
    </div>

    <div>
        <h3>Scheduled Attendees</h3>
        <table>
            <tr>
                <td>Pupil</td>
                <td>Attended?</td>
            </tr>
            {% for attendance in attendances %}
                <tr>
                    <td><a href="/pupils/{{ attendance.pupil.id }}">{{ attendance.pupil.name }}</a></td>
                    <td>
                        <form action="/attendances/{{ attendance.id }}/attended" method="POST">
                            {% if attendance.attended == False %}
                                <button class="attended-btn"><i class="far fa-times-circle fa-2x"></i></button>
                            {% else %}
                                <button class="attended-btn"><i class="fas fa-check-circle fa-2x" style="color:green"></i></button>
                            {% endif %}
                            
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div>
        <form action="/lessons/{{ lesson.id }}/edit">
            <button>Edit</button>
        </form>

        <form action="/lessons/{{ lesson.id }}/delete" method="POST">
            <button>Delete Lesson</button>
        </form>
    </div>


{% endblock %}