{% extends "base.html" %}
{% block content %}

<div class="tutors my-4">
    <div class="container flex"> 
        <h1 class="heading">Tutors Archive</h1>
        <div>
            <ul class="menu">
                <li><a href="/tutors">Back</a></li>
            </ul>
        </div>
    </div>
    
    <div class ="container my-2">

        <table style="width:100%">
            <tr>
                <th class="th-1" style="width:25%">Name</th>
                <th style="width:20%">Contact Number</th>
                <th style="width:30%">Address</th>
                <th style="width:15%">Postcode</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr> 
        </table>

    </div>
</div>

{% endblock %}