{% extends "base.html" %}
{% block content %}

<div class="tutors">
    <div class="container flex"> 

        <h1 class="heading">Our Tutors</h1>

        <form action="/tutors/new">
            <button>Add New</button>
        </form>
    </div>
    <div class ="container my-2">

        <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Address</th>
                <th>Postcode</th>
            </tr>

            {% for tutor in all_tutors %}
                <tr>
                    <td><a href="/tutors/{{ tutor.id }}">{{ tutor.name }}</a></td>
                    <td>{{ tutor.contact_number }}</td>
                    <td>{{ tutor.address }}</td>
                    <td>{{ tutor.postcode }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
</div>

{% endblock %}

