{% extends "base.html" %}
{% block content %}

    <div>
        <p>{{ tutor.name }}</p>
    </div>

    <form action="/tutors/{{ tutor.id }}">
        <button>Back</button>
    </form>

    <div>
        <h3>Archived Lessons</h3>
        <table>
            <tr>
                <th>Lesson</th>
                <th>Date</th>
                <th>No. Attendees</th>
                <th>Log Attendance</th>
            </tr>
            {% for lesson in lessons %}
                {% if lesson.todays_date() > lesson.date %}
                    <tr>
                        <td><a href="/lessons/{{ lesson.id }}">{{ lesson.name }}</td>
                        <td>{{ lesson.date }}</td>
                        <td>{{ lesson.count_attendees() }}</td>
                        <td>
                            <form action="/lessons/{{ lesson.id }}">
                                <button>Log Attendance</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

{% endblock %}