{% extends "base.html" %}
{% block content %}

    <div>
        <p>{{ tutor.name }}</p>
        <hr>
        <p>{{ tutor.contact_number }}</p>
        <p>{{ tutor.address }}</p>
        <p>{{ tutor.postcode }}</p>
        <form action="/tutors/{{ tutor.id }}/edit">
            <button>Edit</button>
        </form>
    </div>

    <div>
        <h3>Scheduled Lessons</h3>
        <table>
            <tr>
                <th>Lesson</th>
                <th>Date</th>
                <th>No. Attendees</th>
                <th>Log Attendance</th>
            </tr>
            {% for lesson in lessons %}
                <tr>
                    <td><a href="/lessons/{{ lesson.id }}">{{ lesson.name }}</td>
                    <td>{{ lesson.date }}</td>
                    <td>{{ lesson.count_attendees() }}</td>
                    <td>
                        <form action="lessons/{{ lesson.id }}">
                            <button>Log Attendance</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <form action="/tutors/{{ tutor.id }}/delete" method="POST">
        <button>Delete</button>
    </form>

{% endblock %}