{% extends "base.html" %}
{% block content %}

<div class="pupils">
    <div class="container flex"> 

        <h1>Pupils Archive</h1>

        <form action="/pupils">
            <button>Back</button>
        </form>

    </div>

    <div class ="container my-2">
    
        <table style="width:100%">
            <tr>
                <th style="width:30%">Name</th>
                <th style="width:15%">DOB</th>
                <th style="width:25%">Instrument(s)</th>
                <th style="width:30%">Next of Kin</th>
            </tr>

            {% for pupil in all_pupils %}
                {% if pupil.active == False %}
                    <tr>
                        <td><a href="/pupils/{{ pupil.id }}">{{ pupil.name }}</a></td>
                        <td>{{ pupil.dob }}</td>
                        <td>{{ pupil.instrument }}</td>
                        <td><a href="/noks/{{ pupil.nok.id }}">{{ pupil.nok.name }}</td>
                    </tr>
                {% endif %}
            {% endfor %}

        </table>

    </div>
</div>

{% endblock %}