{% extends "base.html" %}
{% block content %}

<div class="pupils my-4">
    <div class="container flex"> 
        <h2>Our Pupils</h2>
        <div>
            <ul class="menu">
                <li><a href="/noks/new">Enrol a pupil</a></li>
                <li><a href="/noks">View all Next of Kin</a></li>
            </ul>
        </div>
    </div>

    <div class ="container container-min my-2">
    
        <table style="width:100%">
            <tr>
                <th class="th-1" style="width:30%">Name</th>
                <th style="width:15%">DOB</th>
                <th style="width:25%">Instrument(s)</th>
                <th style="width:30%">Next of Kin</th>
            </tr>

            {% for pupil in all_pupils %}
                {% if pupil.active == True %}
                    <tr>
                        <td class="td-1"><a href="/pupils/{{ pupil.id }}">{{ pupil.name }}</a></td>
                        <td>{{ pupil.dob }}</td>
                        <td>{{ pupil.instrument }}</td>
                        <td><a class="log" href="/noks/{{ pupil.nok.id }}">{{ pupil.nok.name }}</a></td>
                    </tr>
                {% endif %}
            {% endfor %}

        </table>

        <div class="my-2">
            <a class="archive" href="/pupils/archive">View pupil archive</a>
        </div>

    </div>
</div>

{% endblock %}