{% extends "base.html" %}
{% block content %}

    <div>
        <p>{{ pupil.name }}</p>
        <p>Date of Birth: {{ pupil.dob }}</p>
        <p>Instrument: {{ pupil.instrument }}</p>
        <p>Grade: {{ pupil.grade }}</p>
        <p>Next of Kin: {{ pupil.nok.name }}</p>
        <p>Notes: {{ pupil.notes }}</p>
        <p>Current Student?
            {% if pupil.active == True %}
                Yes
            {% else %}
                No
            {% endif %}
        </p>
    </div>

    <div>
        <h3>Upcoming Lessons</h3>
        <table>
            <tr>
                <th>Lesson</th>
                <th>Date</th>
                <th>Tutor</th>
            </tr>
            {% for lesson in lessons %}
                {% if lesson.todays_date() <= lesson.date %}
                    <tr>
                        <td><a href="/lessons/{{ lesson.id }}">{{ lesson.name }}</a></td>
                        <td>{{ lesson.date }}</td>
                        <td>{{ lesson.tutor.name }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <div>
        <form action="/pupils/{{ pupil.id }}/archive">
            <button>View archived lessons</button>
        </form>
        <form action="/pupils/{{ pupil.id }}/edit">
            <button>Edit</button>
        </form>
        <form action="/pupils/{{ pupil.id }}/delete" method="POST">
            <button>Delete Pupil</button>
        </form>
    </div>

{% endblock %}