{% extends "base.html" %}
{% block content %}

<div class="pupil-details">
    <div class="container flex">
        <div>
            <h2>{{ pupil.name }}</h2>
        </div>

        <div>
            {% if attendance_rate > 0 %}
                <p>Attendance rate: {{ attendance_rate }}%</p>
            {% else %}
                <p>Attendance rate: 0%</p>
            {% endif %}
        </div>


        <div class="card-listing">
            <p><b>Date of Birth: </b>{{ pupil.dob }}</p>
            <p><b>Instrument: </b> {{ pupil.instrument }}</p>
            <p><b>Grade: </b>{{ pupil.grade }}</p>
            <p><b> Next of Kin: </b><a class="log" href="/noks/{{ pupil.nok.id }}">{{ pupil.nok.name }}</a></p>
            <p><b>Current Student? </b>
                {% if pupil.active == True %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </p>
            <p><b>Notes: </b>{{ pupil.notes }}</p>
        </div>
    </div>

    <div class ="container my-4">
        <h2>Upcoming Lessons</h2>

        <table class="center my-2" style="width:40%">
            <tr>
                <th class="th-1" style="width:40%">Lesson</th>
                <th style="width:20%">Date</th>
                <th style="width:40%">Tutor</th>
            </tr>
            {% for lesson in lessons %}
                {% if lesson.todays_date() <= lesson.date %}
                    <tr>
                        <td class="td-1"><a href="/lessons/{{ lesson.id }}">{{ lesson.name }}</a></td>
                        <td>{{ lesson.date }}</td>
                        <td>{{ lesson.tutor.name }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <div>
        <form action="/pupils/{{ pupil.id }}/archive">
            <button>View archived lessons</button>
        </form>
        <form action="/pupils/{{ pupil.id }}/edit">
            <button>Edit</button>
        </form>
        <form action="/pupils/{{ pupil.id }}/delete" method="POST">
            <button>Delete Pupil</button>
        </form>
    </div>

</div>

{% endblock %}