{% extends "base.html" %}
{% block content %}

    <div>
        <p>{{ pupil.name }}</p>
    </div>

    <form action="/pupils/{{ pupil.id }}">
        <button>Back</button>
    </form>

    <div>
        <h3>Archived Lessons</h3>
        <table>
            <tr>
                <th>Lesson</th>
                <th>Date</th>
                <th>Tutor</th>
                <th>Attended?</th>
            </tr>

            {% for attendance in attendances %}
                {% if attendance.lesson.todays_date() > attendance.lesson.date %}
                    <tr>
                        <td><a href="/lessons/{{ attendance.lesson.id }}">{{ attendance.lesson.name }}</a></td>
                        <td>{{ attendance.lesson.date }}</td>
                        <td>{{ attendance.lesson.tutor.name }}</td>
                        <td>
                            <form action="/attendances/{{ attendance.id }}/attended" method="POST">
                                {% if attendance.attended == False %}
                                    <button class="attended-btn"><i class="far fa-times-circle fa-2x" style="color:grey"></i></button>
                                {% else %}
                                    <button class="attended-btn"><i class="fas fa-check-circle fa-2x" style="color:green"></i></button>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>



{% endblock %}




