<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Planaband</title>

</head>

<body>

    <div class="navbar">
        <div>
            <h1 class="logo"><a href="/">PLANABAND LOGO</a></h1>
            <nav>
                <ul>
                    <li><a href="/lessons">Lessons</a></li>
                    <li><a href="/pupils">Pupils</a></li>
                    <li><a href="/tutors">Tutors</a></li>
                    <li><a href="/help">Help</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <section>
        {% block content %}

        {% endblock%}        
    </section>
    
</body>
</html>