<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Planaband</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lessons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pupils.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tutors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/noks.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/attendances.css') }}">

</head>

<body>

    <div class="navbar">
        <div class="container flex">
            <a href="/">
                <img class="small-img logo" src= {{ url_for('static', filename = '/images/planabandlogo2.png') }}>
            </a>
            <nav>
                <ul class="menu">
                    <li><a href="/lessons">Lessons</a></li>
                    <li><a href="/pupils">Pupils</a></li>
                    <li><a href="/tutors">Tutors</a></li>
                    <li><a href="/help">Help</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <section class="block-content">
        {% block content %}

        {% endblock%}        
    </section>



    <footer class="footer">
        <div class="container grid-2 grid-3">
            <div>
                <img class="xsmall-img logo" src= {{ url_for('static', filename = '/images/planabandlogo_altw.png') }}>
                <span class="copyright">Copyright&copy;hevthedev2021</span>
            </div>       
            <nav>
                <ul>
                    <li><a href="index.html">Lessons</a></li>
                    <li><a href="feature.html">Pupils</a></li>
                    <li><a href="contact.html">Tutors</a></li>
                    <li><a href="contact.html">Help</a></li>
                </ul>
            </nav>
            <div class="div social">
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            </div>

        </div>
    </footer>
    
</body>
</html>