{% extends 'base.html' %}

{% block content %}


<div class="welcome">
    <div class="container grid-1">

        <h1>Welcome to Planaband</h1>

        <p>Streamline your Music School admin!</p>

            <div class ="flex">
                <form action="/lessons">
                    <button>Book Lessons</button>
                </form>
                <form action="/noks/new">
                    <button>Enrol Pupils</button>
                </form>
                <form action="/lessons">
                    <button>Log Attendence</button>
                </form>
            </div>

    </div>


</div>


{% endblock %}