{% extends 'base.html' %}

{% block content %}


<div class="welcome">
    <div class="container grid-1">

        <h1 class="headline">Welcome!</h1>

        <h2 class="text-light">to your music school planning centre</h2>

            <div class ="flex my-4">
                <div class="">
                    <a href="/lessons">Book Lesson</a>
                </div>
                <div class="pale">
                    <a href="/noks/new">Enrol Pupil</a>
                </div>
                <div class="">
                    <a href="/lessons">Log Attendance</a>
                </div>
            </div>
    </div>
</div>

<section class="lesson-types">
    <h1 class="text-center my-2">Our Lessons</h1>
    <div class="container flex">
        <a href="/lessons/recorder">
            <div class="card">
                <h3>Recorder Group</h3>
                <img class="med-img" src="static/images/recorders.png" alt="">
            </div>
        </a>
        <a href="/lessons/strings">
            <div class="card">
                <h3>String Ensemble</h3>
                <img class="med-img" src="static/images/strings.png" alt="">
            </div>
        </a>
        <a href="">
            <div class="card">
                <h3>Wind Band</h3>
                <img class="med-img" src="static/images/winds.png" alt="">
            </div>
        </a>
        <a href="/lessons/piano">
            <div class="card">
                <h3>Piano 1:1</h3>
                <img class="med-img" src="static/images/piano.png" alt="">
            </div>
        </a>
        <div class="card">
            <h3>Violin 1:1</h3>
            <img class="med-img" src="static/images/violin.png" alt="">
        </div>
        <div class="card">
            <h3>Trumpet 1:1</h3>
            <img class="med-img" src="static/images/trumpet.png" alt="">
        </div>
        <div class="card">
            <h3>Drums 1:1</h3>
            <img class="med-img" src="static/images/drums.png" alt="">
        </div>
        <div class="card">
            <h3>Saxophone 1:1</h3>
            <img class="med-img" src="static/images/sax.png" alt="">
        </div>
        <div class="card">
            <h3>Guitar 1:1</h3>
            <img class="med-img" src="static/images/guitar.png" alt="">
        </div>
    </div>
</section>


{% endblock %}