{% extends 'base.html' %}

{% block content %}


<div class="welcome">
    <div class="container grid-1">

        <h1>Welcome to Planaband</h1>

        <h2>Streamline your Music School admin!</h2>

            <div class ="flex my-4">
                <form action="/lessons">
                    <button class="btn-orange">Book Lessons</button>
                </form>
                <form action="/noks/new">
                    <button class="btn-orange">Enrol Pupils</button>
                </form>
                <form action="/lessons">
                    <button class="btn-orange">Log Attendence</button>
                </form>
            </div>
    </div>

    <div class="lesson-types">
        <div class="container flex">
            <div class="card">
                <h3>Recorder Group</h3>
            </div>
            <div class="card">
                <h3>String Ensemble</h3>
            </div>
            <div class="card">
                <h3>Wind Band</h3>
            </div>
            <div class="card">
                <h3>Piano 1:1</h3>
            </div>
            <div class="card">
                <h3>Violin 1:1</h3>
            </div>
            <div class="card">
                <h3>Cello 1:1</h3>
            </div>
            <div class="card">
                <h3>Clarinet 1:1</h3>
            </div>
            <div class="card">
                <h3>Saxophone 1:1</h3>
            </div>
            <div class="card">
                <h3>Guitar 1:1</h3>
            </div>

        </div>

    </div>


</div>


{% endblock %}