{% extends "base.html" %}
{% block content %}

<div class="attendances my-4">

    
    <div class="container flex"> 
        <h1>All Bookings</h1>
        <div>
            <ul class="menu">
                <li><a href="/lessons">Book lesson</a></li>
            </ul>
        </div>
    </div>

    <div class ="container my-4">
        <table style="width:100%">
            <tr>
                <th class="th-1" style="width:20%">Lesson</th>
                <th style="width:20%">Pupil</th>
                <th style="width:10%">Attended?</th>
                <th style="width:15%">Edit Booking</th>
                <th style="width:15%">Delete Booking</th>
            </tr>

            {% for attendance in all_attendances %}
                <tr>
                    <td class="td-1"><a href="/lessons/{{ attendance.lesson.id }}">{{ attendance.lesson.name }} on {{ attendance.lesson.date }}</a></td>
                    <td>{{ attendance.pupil.name }}</td>
                    <td>
                    {% if attendance.attended == True %} <p>Yes</p>
                    {% else %} <p>No</p>
                    {% endif %}
                    </td>
                    <td><a href="/attendances/{{ attendance.id }}/edit">Update</a></td>
                    <td>
                        <form action="/attendances/{{ attendance.id }}/delete" method="POST">
                            <button class="attend-delete">Delete</button>
                        </form>
                    </td>

                </tr>
            {% endfor %}

        </table>
    </div>
</div>

{% endblock %}