{% extends "base.html" %}
{% block content %}

<h1>Attendances</h1>

<form action="/attendances/new">
    <button>Book Lesson</button>
</form>

<table>
    <tr>
        <th>Lesson</th>
        <th>Pupil</th>
        <th>Attended?</th>
        <th>Edit Booking</th>
        <th>Log Attendance</th>
        <th>Delete Booking</th>
    </tr>

    {% for attendance in all_attendances %}
        <tr>
            <td><a href="/lessons/{{ attendance.lesson.id }}">{{ attendance.lesson.name }}</a></td>
            <td>{{ attendance.pupil.name }}</td>
            <td>
            {% if attendance.attended == True %} <p>Yes</p>
            {% else %} <p>No</p>
            {% endif %}
            </td>
            <td><a href="/attendances/{{ attendance.id }}/edit">Update</a></td>
            <td>
                <form action="/attendances/{{ attendance.id }}/attended" method="POST">
                    <button>Mark Attended</button>
                </form>
            </td>
            <td>
                <form action="/attendances/{{ attendance.id }}/delete" method="POST">
                    <button>Delete</button>
                </form>
            </td>

        </tr>
    {% endfor %}

</table>

{% endblock %}